docs/AI-Ekazamenator3.json
{
  "name": "AI-Ekazamenator ver 3",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Захват').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "955183b9-b606-446d-84cd-c32224eb2dec",
      "name": "Выдача результата",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -80
      ],
      "webhookId": "f8375d2c-a382-43ad-bf5a-662a6e38e81e",
      "credentials": {
        "telegramApi": {
          "id": "fUIaSGsLAF9cI2KX",
          "name": "kimsexambot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Инструкция для AI-агента экзаменатора\n\n## 1. Инструменты\n\n- **Voprosi** — Google-таблица с вопросами, формулировками и идеальными (эталонными) ответами.\n- **Otveti** — Google-таблица для записи результатов экзамена: название дисциплины, название контроля, дата и время начала ответа, ФИО студента, номер билета, ответы на все вопросы, оценка и твой комментарий.\n\n---\n\n## 2. Инициализация экзамена\n\n- При получении команды **/new** начинай экзамен заново, не используй данные из предыдущих попыток.\n- При получении первого сообщения **/start** используй инструмент Telegram1 для отправки приветственного сообщения студенту с напоминанием:\n  - Успокоиться,\n  - Сделать несколько глубоких вдохов и выдохов,\n  - Не торопиться при ответах,\n  - Внимательно читать вопросы.\n\n---\n\n## 3. Выбор языка\n\n- После приветственного сообщения студент должен указать язык экзамена: Русский или Казахский.\n- После получения ответа о выбранном языке сразу переходи к сбору всех необходимых данных экзамена на выбранном языке, не дожидаясь дополнительных сообщений.\n- Учти что студент может отправить тебе сообщение на Русском языке даже если выбрал Казахский и наоборот на Казахском даже если выбрал Русский. Поэтому всегда отвечай студенту на том же языке на котором он отправил тебе сообщение.\n---\n\n## 4. Сценарий экзамена\n\nЗапроси у экзаменуемого следующие данные в двух сообщениях:\nСначала запроси регистрационные данные:\n- Название дисциплины или курса\n- Название контроля (рубежный контроль или экзамен)\n- ФИО полностью\n\nДождись ответа от студента, затем запроси данные для экзамена:\n- Номер экзаменационного билета\n- Ключ вопроса (для его идентификации)\n- Ответ на вопрос\n- Ключ следующего вопроса (если есть)\n- Ответ на следующий вопрос (если есть)\n\nВ билете может быть несколько вопросов и ответов.\nПосле ответа на все вопросы напиши студенту дословно что он должен написать или оставить голосовое сообщение: **\"Ответ закончен\"**.\nПосле получения фразы \"Ответ закончен\", переходи к обработке.\n\n---\n\n## 6. Обработка и оценка ответов\n- Ты должен идентифицировать вопрос на который тебе отвечает студент, сравнив ключ вопроса что предоставил тебе студент и ключ в инструменте \"Voprosi\" в первой колонке с названием \"Ключ\".\n- После идентификации вопроса, сопоставь и сравни каждый ответ студента с эталонным ответом из таблицы \"Voprosi\" вторая колонка \"Идеальный ответ\".\n\n### Критерии оценки\n\n1. Для каждого вопроса выдели в идеальном ответе из \"Voprosi\" ключевые смысловые элементы (факты, определения, этапы, термины, выводы и т.д.).\n2. Ключевым элементом считается самостоятельная смысловая часть, необходимая для полного раскрытия вопроса.\n3. Сравни ответ студента с идеальным ответом и определи, сколько из этих ключевых элементов содержится в ответе студента, даже если они выражены другими словами или в другом порядке.\n4. Если элемент раскрыт частично — учитывай его как 0,5 элемента.\n5. Не учитывай порядок, стиль, орфографию и лишнюю нерелевантную информацию, если смысл сохранён.\n6. Оцени полноту каждого ответа по доле раскрытых ключевых элементов и умножь на 100 и зафиксируй. Найди и запиши среднюю арифметическую по всем ответам.\n7. Не раскрывай студенту, какие элементы считаются ключевыми, и не подсказывай правильные ответы.\n\n---\n\n## 7. Сохранение результатов\n- Выполни сохранение результатов в таблицу \"Otveti\" сразу при отправки оценки студенту, не дожидаясь ответа от него.\n- Оцени ответ студента на каждый из вопросов по 100 бальной шкале и сохрани в таблицу \"Otveti\" следующие данные:\n  - Название дисциплины\n  - Название контроля\n  - Дата и время начала ответа\n  - ФИО студента\n  - Номер билета\n  - Ответы на все вопросы билета (пример формата \"Первый вопрос: Ответ студента; Второй вопрос: Ответ студента и т.д.\")\n  - Оценку по билету\n- Комментарий в котором будет твоя развёрнутая оценка всех вопросов студента \n\n- Если в билете несколько вопросов, рассчитай предварительную оценку как среднее арифметическое всех оценок по вопросам.\n- После обработки отправь студенту предварительную оценку с пояснением, что:\n- Аргументируй поставленную оценку студенту, напиши что он забыл сказать,\n  - Это предварительная оценка,\n  - Бот работает в тестовом режиме,\n  - Окончательную оценку выставляет преподаватель.\n\n---\n\n## 8. Ограничения\n\n- Категорически запрещено подсказывать студенту правильные ответы или их части, а также намекать на формулировки из \"Voprosi\".\n- Не раскрывай, какие элементы считаются ключевыми, и не делись содержимым таблицы \"Voprosi\".\n- Если студент просит подсказку, корректный ответ или формулировку, вежливо откажи и напомни, что экзаменатор не подсказывает ответы.  \n  **Пример ответа:**  \n  *\"Извините, я не могу подсказать правильный ответ. Пожалуйста, попробуйте ответить самостоятельно.\"*\n\n---\n\n## 9. Время экзамена\n\n- Время начала экзамена для конкретного студента фиксируется с момента получения сообщения \"/start\".\n- Время проведения экзамена — 2 часа.\n- После истечения времени студенту запрещено изменять ответы.\n- После выставления оценки и сохранения результатов следующий запрос от студента воспринимай как новый экзамен и запускай сценарий заново.\n\n---\n\n**Текущая дата:** {{$now}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        -80
      ],
      "id": "a9583771-af50-426f-a4d6-87c504c87db7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "maxTokens": 3000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        160
      ],
      "id": "ac46dc11-cdb9-4195-a2b9-fa695335fd8f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7C06AUMd0kEucryX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Захват').item.json.message.chat.id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        160
      ],
      "id": "a3944e9c-9934-4c3c-9934-43ef91f1eb03",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "download": "={{ $json.message.voice.file_id }}"
      },
      "id": "4d201e81-c560-410c-87ae-1d48329bd7f2",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -368,
        112
      ],
      "webhookId": "f6019266-6cef-4025-9965-a895cdb29902",
      "credentials": {
        "telegramApi": {
          "id": "fUIaSGsLAF9cI2KX",
          "name": "kimsexambot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "42e06c47-46ba-4a9e-9ee4-aa96b1c33c4c",
      "name": "Транскрибация аудио",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -208,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "7C06AUMd0kEucryX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f83e4e41-14e5-4156-8de3-4d51982fafde",
              "name": "text",
              "value": "={{ $json.text || $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -80
      ],
      "id": "621ca9ca-4fa1-436e-b839-430978efef7a",
      "name": "Text"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet\nGive information only on events in Russia",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"api_key\": \"Ваш API ключ\",\n    \"query\": \"{{ $json.text }}\",\n    \"search_depth\": \"advanced\",\n    \"include_answer\": false,\n    \"topic\": \"general\",\n    \"include_raw_content\": false,\n    \"max_results\": 10\n} "
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        512,
        160
      ],
      "id": "351524b4-4e8d-4b8f-8b85-03e9187ea09b",
      "name": "Tavily"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "4a36e571-0b9e-48ce-9e78-301f43a2e619"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "id": "71e625fe-bd15-496e-92dc-2866677aa6cf",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -608,
        -64
      ]
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\nТут можно поменять модель ИИ от OpenAI, можно попробовать модель GPT-3.5-Turbo она более дешёвая чем 4o. ",
        "height": 260,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        144
      ],
      "id": "077a3c84-db4b-4f11-98f0-bcb54f86170a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "В этой таблице 2 колонки:\n1-я колонка содержит ключ для идентификации\n2-я колонка с самим вопросом\n3-я колонка с ответом на вопрос",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/11nXi_gJdVbUrbjfjHoJUNm_vW8GdrgmGCsCw-DgP6wU/edit?gid=195627973#gid=195627973",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 195627973,
          "mode": "list",
          "cachedResultName": "Лист1 (копия)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11nXi_gJdVbUrbjfjHoJUNm_vW8GdrgmGCsCw-DgP6wU/edit#gid=195627973"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        640,
        160
      ],
      "id": "ebb743f3-a9e0-47e9-aada-ab2d2fa3d7f9",
      "name": "Voprosi",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Axfgvy58FugcQkF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Доступ к гугл таблице в которую записываются следующие данные: Название дисциплины, Название контроля, Дата и время начала ответа, ФИО студента, Номер билета, Ответ на билет, оценку и комментарий в котором будет твоя развёрнутая оценка всех вопросов студента.",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1k_YOcXJZ2VNxvtMrtJto65kMk2eMQXX9G-cOGeQiKps",
          "mode": "list",
          "cachedResultName": "Otveti",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k_YOcXJZ2VNxvtMrtJto65kMk2eMQXX9G-cOGeQiKps/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1k_YOcXJZ2VNxvtMrtJto65kMk2eMQXX9G-cOGeQiKps/edit?gid=55371535#gid=55371535",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Название дисциплины": "={{ $fromAI('disciplina', `Тут сохрани название дисциплины от студента`, 'string') }}",
            "Название контроля": "={{ $fromAI('kontrol', `Тут сохрани название контроля от студента`, 'string') }}",
            "Дата и время начала ответа": "={{ $fromAI('datetime', `Тут сохрани время и дату ответа`, 'string') }}",
            "ФИО студента": "={{ $fromAI('fio', `Тут сохрани ФИО студента от студента`, 'string') }}",
            "ID сообщения": "={{ $('Захват').item.json.message.message_id }}",
            "ID студента": "={{ $('Захват').item.json.message.from.id }}",
            "Номер билета": "={{ $fromAI('bilet', `Тут сохрани номер билета`, 'string') }}",
            "Ответ на билет": "={{ $fromAI('otveti', `Тут сохрани все ответы на вопросы билета`, 'string') }}",
            "Оценка": "={{ $fromAI('ocenka', ``, 'string') }}",
            "Комментарий": "={{ $fromAI('komment', `Тут сохрани свой развёрнутый комментарий с оценкой`, 'string') }}"
          },
          "matchingColumns": [
            "ID студента"
          ],
          "schema": [
            {
              "id": "ID сообщения",
              "displayName": "ID сообщения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID студента",
              "displayName": "ID студента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Название дисциплины",
              "displayName": "Название дисциплины",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Название контроля",
              "displayName": "Название контроля",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата и время начала ответа",
              "displayName": "Дата и время начала ответа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ФИО студента",
              "displayName": "ФИО студента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Оценка",
              "displayName": "Оценка",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Номер билета",
              "displayName": "Номер билета",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ответ на билет",
              "displayName": "Ответ на билет",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Комментарий",
              "displayName": "Комментарий",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        768,
        160
      ],
      "id": "76bdc999-5f58-43e6-961f-5f8492c09cad",
      "name": "Otveti",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Axfgvy58FugcQkF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Захват').item.json.message.chat.id }}",
        "text": "=Здравствуйте! \nДобро пожаловать на экзамен. \n\nМы желаем вам удачи и спокойствия. \nПеред началом, сделайте несколько глубоких вдохов и выдохов, чтобы расслабиться. \n\nПомните, что нет необходимости спешить. Внимательно прочитайте каждый вопрос и тратите на ответ столько времени, сколько вам нужно. \n\nПожалуйста выберите язык на котором вам удобно провести экзамен, ответив на это сообщение.\n\nСәлем!\nЕмтиханға қош келдіңіз.\n\nСізге сәттілік пен тыныштық тілейміз.\nБастамас бұрын, демалу үшін бірнеше терең тыныс алыңыз.\n\nЕсіңізде болсын, асықтырудың қажеті жоқ. Әрбір сұрақты мұқият оқып шығыңыз және жауап беруге уақытыңызды бөліңіз.\n\nОсы хабарламаға жауап беру арқылы емтиханды өткізуге ыңғайлы тілді таңдаңыз.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        912,
        160
      ],
      "id": "7d356d89-5778-411f-92c9-37c8c6840344",
      "name": "Telegram1",
      "webhookId": "d619179d-4d52-45ab-a972-d690dc292dc6",
      "credentials": {
        "telegramApi": {
          "id": "fUIaSGsLAF9cI2KX",
          "name": "kimsexambot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -864,
        -64
      ],
      "id": "b8cd3f40-6e7e-42d1-ab0c-020316bfb96a",
      "name": "Захват",
      "webhookId": "fb665a18-f19d-4bc8-a281-b1fe2eab393c",
      "credentials": {
        "telegramApi": {
          "id": "fUIaSGsLAF9cI2KX",
          "name": "kimsexambot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Выдача результата",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Транскрибация аудио",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Транскрибация аудио": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voprosi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Otveti": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Захват": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ebc439a1-1db8-41dd-8054-1cedc49f7e82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "efe35682f55583ef3259848779135c10ffa0fa4615b05d439a00200a75c9bd6b"
  },
  "id": "fy9vxpgYWlIp5vgg",
  "tags": [
    {
      "createdAt": "2025-04-11T14:17:35.661Z",
      "updatedAt": "2025-04-11T14:17:35.661Z",
      "id": "3CEbKvrDtmWm3SUy",
      "name": "telegram"
    },
    {
      "createdAt": "2025-04-11T14:17:35.673Z",
      "updatedAt": "2025-04-11T14:17:35.673Z",
      "id": "shwU3d33H8wpwv0B",
      "name": "audio"
    }
  ]
}